<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/heapcon.png" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome to our fancy Heapcon conference app</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>If it is not obvious, please note that this is NOT live conference data :D</p>
      </ion-card-content>
    </ion-card>
</ion-content>
